/* Space out content a bit */
body, form, ul, table {
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f3f4f6;
}

.navbar-inverse {
  background-color: #000209;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
 /* background-image: url("/images/phoenix.png"); */
  background-size: 519px 71px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 690px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}


.tile-content {
  font-size: 130px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#padboard .glyphicon {
  margin-top: 64px;
  margin-bottom: 10px;
  font-size: 64px;
}
#padboard {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#padboard li a {
  float: left;
  margin: 0px;
  width: 33.3333%;
  height: 220px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
}
.container {
  width: auto;
  max-width: 970px;
  padding: 0 15px;
}

.current-beat {
  background-color: black;
  color: white;
}

th {
  text-align: center;
}

td {
  width: 40.5px;
  height: 20.5px;
}

td.sample {
  width: 120px;
}

.btn {
  margin-right: 4px;
}
