<div class="row">
  <div class="col-sm-12">
    <%= render "form.html", changeset: @changeset, action: jam_path(@conn, :create), class: "right" %>
  </div>
  <%= for jam <- @jams do %>
  <div class="col-md-3 col-sm-6">
    <div class="jam-tile">
    <%= link to: jam_path(@conn, :show, jam), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-music"></i>
      <%= "Join Jam Room #{jam.id}" %>
    <% end %>
  </div>
  </div>
  <% end %>
</div>
